@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: #e2e2e2 !important;
}

@keyframes slideInFromTop {
  /*Add to other style sheet animation.css*/
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#show_notify {
  background-color: #33ACFF;
  width: 100%;
  padding: 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

#show_notify p {
  display: inline;
  font-size: 30px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.fix_line {
  color: white;
  font-size: 25px;
  display: inline;
  vertical-align: middle;
}

h2.fix_line {
  margin-left: 30px;
}

.content {
  padding-top: 80px;
}

.logo {
  width: 100%;
  background: #EEEEEE;
}

.logo img {
  height: 100px;
  width: 100%;
}

.logo h2 {
  text-align: center;
  padding: 5px;
}

.fa-star {
  color: gold !important;
  padding-left: 5px;
}

ul {
  list-style: none;
  padding: 0 !important;
}

li {
  font-size: 20px;
  vertical-align: middle;
  padding: 15px;
  margin: 10px;
  background: #EEEEEE;
}

li a, li a:hover {
  color: black;
  text-decoration: none;
}

.link_pan {
  width: 100%;
}

.center {
  padding-top: 80px;
}

.center table {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.search {
padding: 15px;
}

input[type=text] {
  text-align: center;
  width: 20vw;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #E2E2E2;
  padding: 15px;
}

input[type=submit] {
  text-align: center;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #E2E2E2;
  padding: 15px;
}

.card1{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: #fff;
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
}

.card1 h1{
  color: red;
}

.order_status{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: #fff;
  width:80px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
}

.order_status h1{
  color: red;
}

.fix{
  display: flex;
  flex-flow: wrap;
}

.cols{
  border-radius: 15px;
  width: 80px;
  max-width: 150px !important;
  text-align: center;
  background: white;
  margin: 0 auto;
  padding: 25px;
}

.fa-check{
  color: green !important;
}

.fa-archive{
    color: #D2691E !important;
}
